body {
    margin: 0;
    padding: 0;
}

.unscrollable {
    overflow: hidden;
}

.boundless-header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
    font-size: 2em;
    width: 100%;
    text-align: center;
}
.expanded-image-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expanding-cards {
    display: flex;
    width: 100%;
    height: 100vh;
}
.expanding-cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border: none;
    flex: 1;
    text-decoration: none !important;
    filter: brightness(0.7) grayscale(50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    text-shadow: 0.5px 0.5px 1px white,  -0.5px -0.5px 1px white;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.75);
    transition: flex 300ms ease, filter 300ms ease, box-shadow 300ms ease;
}
.expanding-cards .card:hover {
    flex: 2;
    filter: brightness(1) grayscale(0%);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0);
}
.expanding-cards .card:active {
    flex: 10;
}

/* When the height is greater than the width... */
@media (max-aspect-ratio: 1/1) {
    .expanding-cards {
        flex-direction: column;
    }
}